@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
  .text-outline {
    -webkit-text-stroke: 1px white;
    -webkit-font-smoothing: antialiased;
  }
  
}

@layer components{
  .outline-btn{
@apply border-[3px] text-white py-3 px-6 rounded-xl
  }

  .rounded-icons{
    @apply h-[30px] w-[30px] flex items-center justify-center cursor-pointer bg-white/30 rounded-full hover:scale-110 duration-200
    h-[30px] w-[30px] flex items-center justify-center cursor-pointer bg-white/30 rounded-full hover:scale-110 duration-200
  }
.glowing-shadow{
  @apply shadow-[0px_0px_20px_8px_#d2e6ff] 
}  
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {

}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
